body {
  background-color: black;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-size: 21px;
  color: gray;
}

p a {
  color: aquamarine;
  font-size: 16px;
}

video {
  object-fit: contain;
}

.header, .content {
  text-align: center;
}

.footer {
  text-align: right;
  color: gray;
}
